.card {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-auto-rows: minmax(max-content, 2rem);
    place-items: center;
    padding: 0.5rem;
    border: var(--black-color) solid 2px;
    border-radius: 0.25rem;
    row-gap: 0.25rem;
    column-gap: 0.25rem;
}

.car {
    grid-column: 1 / -1;
    font-size: var(--font-size-xl);
    color: var(--secondary-color);
    justify-self: center;
}

.location {
    grid-column: 1 / span 2;
    justify-self: start;
}

.value {
    place-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value:hover {
    background-color: var(--bg-primary);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.25rem;
}

.details {
    grid-column: 1 / -1;
}