.form {
    display: grid;
    grid-template-columns: max-content 1fr;
    place-items: center start;
    column-gap: 1rem;
    row-gap: 0.75rem;
    padding: 2rem;
    font-size: var(--font-size-xl);
    border: black solid 2px;
    border-radius: 0.25rem;
}

.submitBtn {
    grid-column: 1 / span 2;
    justify-self: center;
}

.addCar {
    all: unset;
    grid-column: 2;
    font-size: var(--font-size-normal);
    justify-self: center;
    border-radius: 0.25rem;
    transition: outline var(--input-animation-duration);
    padding: 0.25rem 0.5rem;
}