.paginationBar {
    display: grid;
    grid-template-columns: 1fr 1fr max-content 1fr 1fr;
    column-gap: 0.5rem;
    font-size: var(--font-size-large);
    place-items: center;
}

.pageNum {
    display: flex;
}